/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

/* colors:  #555b6e #89b0ae #bee3db #faf9f9 #ffd6ba*/

body {
    background-color: #faf9f9;
    font-family: Raleway;
    overflow-x: hidden;
    font-family: Monstserrat;
}
.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}


/* Scroll Bar */
::-webkit-scrollbar {
width: 15px;
}
::-webkit-scrollbar-track {
background: rgb(60, 60, 60);
}
::-webkit-scrollbar-thumb {
background: #89b0ae;
}
::-webkit-scrollbar-thumb:hover {
background: #89b0ae;
}


/* Buttons */
.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: 0.6rem 1.3rem;
    font-size: 1.1rem;
}
.btn-secondary {
    border-width: medium;
    border-radius: .25rem;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.3rem 3.5rem;
    margin: 1.5rem;
    color: #faf9f9;
    background-color: #89b0ae;
    border-color: #89b0ae;
}
.btn-secondary:hover{
    background-color: #555b6e;
    border-color: #555b6e;
}


/* Nav Bar */
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    background-color: rgba(0, 0, 0, 0.8)!important;
    font-family: 'Raleway', sans-serif;
}
.navbar-brand img {
    height: 2.3rem;
}
.navbar-nav li {
    padding-right: 0.7rem;   
}
.navbar-dark .navbar-nav .nav-link {
    color: #faf9f9;
    padding: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #faf9f9;
    padding: 0.8rem;
    color: #89b0ae;
}


/* Landing */
.home-inner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/computer\ light.jpg");
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: #faf9f9;
    text-transform: uppercase;
}
.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
    padding-bottom: 1rem;
}
.caption h3 {
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
    padding-bottom: 1.6rem;
}


/* About */
#about {
    background: #faf9f9;
    margin-bottom: 3.5rem;
}
.profile-picture {
    height: 90%;
    border-radius: 100%;
}
.row {
    padding-top: 1.5rem;
}
.about {
    font-size: 1.15rem;
    text-align: justify;
}
.quote {
    font-size: 1.20rem;
}


/* Portfolio */
.fixed {
    background-image: url(images/black-white-triangles.jpg);
    z-index: -1;
}
.dark {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 7rem 2rem;
}
.fixed-background h3 {
    margin-bottom: 2rem;
}
.fixed-background p {
    margin-top: 1.5rem;
}
.r-feature h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-bottom: 0.4rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
}
.r-feature p {
    font-size: 1.1rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;
}
.screenshot {
    width: 100%;
}


/* Contact */
footer {
    background-color: #faf9f9;
    color: #555b6e;
    padding: 2rem 0 2rem;
}
footer img {
    height: 3rem;
    margin: 1.5rem 0;
}
hr.socket {
    width: 100%;
    border-top: 0.2rem solid #666b71;
    margin-top: 3rem;
}
.contact-footer {
    line-height: 1.75rem;
}
.contact-icons {
    max-height: 5rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}


/* Media Queries */
@media (max-width: 767px) {
    .navbar-brand img {
        height: 1.25rem;
    }
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: 0.15rem;
        padding-bottom: 0.5rem;
    }
    .btn-lg {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    .narrow {
        font-size: 1.5rem;
    }
    .profile-picture {
        max-width: 95%;
        display: block;
        margin: 0;
    }
}